<ion-grid id="container">
  <ion-row class="space">
    <ion-col size="11"></ion-col>
    <ion-col>
      <ion-button (click)="dismiss()" fill="clear">
        <ion-icon name="close" size="large" id="close"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="space">
    <ion-col size="1"></ion-col>
    <ion-col>
      <div id="searchInput">
        <ion-input placeholder="Search interests..." type="search"></ion-input>
      </div>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row class="space">
    <ion-col size="2"></ion-col>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label class="label">Eco Initiatives</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">LGBTQ+</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Volunteering</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Cars</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Composting</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Athletics</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Food</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Dancing</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Hiking</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Music</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Walking</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Traveling</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Arts & Crafts</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Camping</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Canoeing</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Gardening</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Cooking</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Financial Wellness</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Bowling</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label class="label">Coffee</ion-label>
          <ion-icon name="trash" slot="end" size="small" class="label"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  <ion-row></ion-row>
</ion-grid>