<div id="container">
  <ion-icon name="person" id="profile-pic"></ion-icon>
  <div id="profile-overview">
    <ion-text color="secondary">
      <h1>{{ name }}</h1>
    </ion-text>
    <ion-text>
      <p>{{ email }}</p>
    </ion-text>
    <div id="location">
      <ion-icon name="location-outline"></ion-icon>
      <p>{{ location }}</p>
    </div>
  </div>
  <ion-card>
    <ion-item>
      <ion-card-title slot="center">Personal Interests</ion-card-title>
      <ion-button fill="outline" slot="end" (click)="functionName()">Edit</ion-button>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Personal Interests</ion-card-title>
    </ion-card-header>
  
    <div id="interests">
      <ion-chip>
        <ion-label>Eco Initiatives</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Althetics</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Food</ion-label>
      </ion-chip>
    </div>   
  </ion-card>
</div>