#container {
  text-align: center;
}

#container h2 {
  font-size: 44px;
}

#container p {
  font-size: 18px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#profile-pic {
  margin-top: 50px;
  font-size: 64px;
}

#profile-overview {
  margin: 20px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

#interests {
  margin: 10px;
}

ion-card {
  margin: 5% 20%;
}

#location {
  margin-top: 30px;
}

ion-label {
  color: white;
}

ion-card-title {
  color: var(--ion-color-secondary);
}

ion-chip {
  --background: var(--ion-color-primary);
  margin-top: 15px;
}

#prof-pic {
  background-color: var(--ion-color-primary);
}

img {
  border-radius: 100%;
  height: 150px;
  margin-top: 50px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

div h1 {
  color: white;
  font-size: 44px;
}