<div id="container">
  <img src="../../assets/bob_schwartz.jpg">
  <div id="profile-overview">
    <ion-text color="primary">
      <h1>{{ name }}</h1>
    </ion-text>
    <ion-text>
      <p>{{ email }}</p>
    </ion-text>
    <div id="location">
      <ion-icon name="location-outline" color="tertiary"></ion-icon>
      <p>{{ location }}</p>
    </div>
  </div>
  <ion-card>
    <ion-item>
      <ion-card-title slot="center">Personal Interests</ion-card-title>
      <ion-button fill="outline" slot="end" (click)="openModal()">Edit</ion-button>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Personal Interests</ion-card-title>
    </ion-card-header>
  
    <div id="interests">
      <ion-chip>
        <ion-label>Eco Initiatives</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>LGBTQ+</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Volunteering</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Cars</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Composting</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Althetics</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Food</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Dancing</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Hiking</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Music</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Walking</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Traveling</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Arts & Crafts</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Camping</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Canoeing</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Gardening</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Cooking</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Financial Wellness</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Bowling</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Coffee</ion-label>
      </ion-chip>
    </div>   
  </ion-card>
  
</div>