<app-automobex-header></app-automobex-header>

<ion-content [fullscreen]="true">
  <form  >
    <ion-item>
      <ion-label color="primary" position="floating">Name of Event</ion-label>
      <ion-input  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Address</ion-label>
      <ion-input  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Date and Time</ion-label>
      <ion-input  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Category</ion-label>
      <ion-input required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Photo Url</ion-label>
      <ion-input  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Description</ion-label>
      <ion-input  required></ion-input>
    </ion-item>
    <!-- Button to submit form -->
    <ion-button class="submit-btn ion-margin-top" expand="block" type="submit"
    >Create
    </ion-button>


  </form>


</ion-content>